*.o
*.dSYM
*.exe
/version.h

aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.mk
config.status
configure

lib*.a

/misc/ace2sam
/misc/maq2sam-long
/misc/maq2sam-short
/misc/md5fa
/misc/md5sum-lite
/misc/wgsim
/samtools
/test/vcf-miniview

/TAGS
.autotools
.cproject
.project

bin/
htslib-1.21/config_vars.h
htslib-1.21/hts-object-files
htslib-1.21/htscodecs.mk
htslib-1.21/htslib.pc.tmp
htslib-1.21/htslib_static.mk
htslib-1.21/version.h
share/
test/merge/test_bam_translate
test/merge/test_rtrans_build
test/merge/test_trans_tbl_init
test/split/test_count_rg
test/split/test_expand_format_string
test/split/test_filter_header_rg
test/split/test_parse_args


